<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Editar</title>
</head>

<body>


{% for producto in productos %}
<div class="card">
    <form class="form-control" method="POST" action="/update" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="card-header">
            <h2 class="m-2">Actualizar producto:</h2>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtID">ID:</label>
                <input class="form-control" type="text" name="txtID" id="txtID" value="{{ producto[0]}}">
            </div>
            <div class="form-group">
                <label for="txtNombre">Nombre:</label>
                <input class="form-control" type="text" name="txtNombre" id="txtNombre" value="{{ producto[1]}}">
            </div>
            <div class="form-group">
                <label for="txtPrecio">Precio:</label>
                <input class="form-control" type="text" name="txtPrecio" id="txtPrecio" value="{{ producto[2]}}">
            </div>
            <div class="form-group">
                <label for="txtFoto">Foto:</label>
                <img class="img-thumbnail" width="100" src="{{ url_for("uploads",nombreFoto =  producto[3]) }}">
                <input class="form-control" type="file" name="txtFoto" id="txtFoto">
            </div>
            <div class="form-group">
                <a class="btn btn-secondary m-2" href="/home">Cancelar</a>
                <input class="btn btn-primary m-2" type="submit" value="Actualizar">
            </div>
        </div>
    </form>
</div>

{% endfor %}

</body>

</html>